@model IEnumerable<Splats.Data.Entities.Director>

<script src="~/Areas/Directors/JS/directorCrud.js"></script>

<div ng-app="director">
	<table class="table" ng-controller="director as directorCtrl" >
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Name)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Surname)
			</th>
		</tr>
		<tr ng-repeat="director in directorCtrl.directors">
			<td>
				{{director.Name}}
			</td>
			<td>
				{{director.Surname}}
			</td>
		</tr>
	</table>
</div>

