@model IEnumerable<Splats.Data.Entities.Serie>

<script type="text/javascript">
	var urlReload = '@Url.Action("ReloadSerie","Series")';
</script>

<script src="~/Areas/Serie/JS/homeSerie.js"></script>

@{
	ViewBag.Title = "Index";
}
<p>
	@Html.ActionLink("Create New", "Create")
</p>

<div id="divHomeSerie">
	<div class="row">
		@foreach (var item in Model)
			{
			<div class="col-md-3" style="padding-top:1rem;">
				@Html.SerieListItem(item.Name, item.Description, item.ImageUrl, item.Id)
			</div>

		}
	</div>
	<div class="">
		<a class="modal-link btnBottom btn btn-primary btn-circle btn-xl" href="@Url.Action("Create", "Series")" style="text-decoration: none">
			<span data-toggle="tooltip" title="Detail"><b class="glyphicon glyphicon-plus"></b></span>
		</a>
	</div>
</div>



